.row.summary{padding-top: 15px;}
.table, .row.panel{margin: 0;}
.panel-body{padding: 0; height: 180px;}
.panel-body.shortcutGroup{padding-top: 35px;}
.shortcutGroup > a{margin: 10px 20px; font-size: 13px;}
@media(min-width:768px){#shortcutBox{margin-top: 20px;}}
@media(min-width:1200px){#shortcutBox{margin-top: 30px;}}
@media(min-width:1400px){#shortcutBox{margin-top: 60px;}}
body {background: #fafafa;}

.page-content {margin-top: -19px; border-top: 1px solid #3280fc;}

.dashboard {position: relative; padding-top: 25px; z-index: 1030}
.dashboard .row {margin: 0 auto;}
.dashboard .panel-actions {margin-top: 0; margin-right: 0;}
.dashboard-actions {position: absolute; top: -35px; right: 100px}
.dashboard-actions .btn {padding: 5px 12px}
.dashboard .table tr[data-url] td {cursor: pointer;}
.dashboard .panel-heading {height: 30px}
