a.btn-file{margin:2px; display:inline-block;}
a.btn-file.active{font-weight:bold;}
.folder-menu .panel-heading .icon{color:#145ccd; font-weight:normal;}
.folder-menu .panel-heading{cursor:pointer;}
.folder-menu .panel-heading > .panel-actions{padding-top:6px; padding-right:6px;}

.editor-wrapper pre {border: none}

.row-main{background:#efefef;padding:0px;}
#mainMenu{padding:20px; text-align:left; background:#fff; margin-bottom:20px; margin-top:-20px;}
#mainMenu #navMenu{font-size:16px; padding:0 20px; font-weight:bold;}
#mainMenu #navMenu .dropdown{display:inline-block; margin-left:10px;}
#mainMenu #navMenu #fileBox .dropdown-menu{max-height:600px; overflow:auto;}
#mainMenu #navMenu a{color:#010101;text-decoration: none;}
#mainMenu #deviceMenu {margin-top:-25px;}
#mainMenu #deviceMenu a{color:#999;text-decoration: none;}
#mainMenu #deviceMenu a.active{font-weight: bold; color:#010101; font-size:15px;}
#mainPanel{margin:0 20px;}
#mainPanel .panel-heading, #mainPanel .panel-footer{background:#fff;}
