#industryBox #theme-all{padding-left:22px;}
span>a{color:black;} 

#mainMenu{padding:20px; text-align:left; background:#fff; margin-bottom:20px; margin-top:-20px;}
#mainMenu #navMenu{font-size:16px; padding:0 20px;text-align:center}
#mainMenu #navMenu a{font-size:16px; padding:0 20px; color:#010101;text-decoration: none;}
#mainMenu #navMenu a.active{font-weight: bold;}
.panel{margin:0 40px;}
.panel .panel-heading{background-color:#fff;border-bottom: 2px solid #efefef; width: 98%; margin-left: 10px;margin-top:5px;padding: 8px 0px;}
.panel .panel-heading #typeNav{margin-left: 10px;}
.panel .panel-heading a{text-decoration: none;font-size:16px;color:#000;}
.panel .panel-heading .active a{border-bottom:2px solid #000}
.panel .panel-heading li:hover a{border-bottom:2px solid #000}
.row-main{background:#efefef;padding:0px;}

.theme-desc{position: relative;}
.theme-desc a{text-decoration: none;color:#353535;}
.theme-desc .actions{position: absolute;top:0px;right:2px;}
.radius-btn{border:1px solid #ccc;border-radius:8px}
