input:focus, textarea:focus {
    outline: none;
}

.comment-heading {
    justify-content: space-between;
}

.comment-input {
    border-radius: 3px;
    border: 1px solid #979797;
    background-color: #F3F3F3;
    height: 30px;
    width: 243px;
    font-size: 12px;
}

.comment-post {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    position: fixed;
    bottom: 50px;
    border: 1px solid #f8f8f8;
    padding: 0 10px;
}

.comment-form {
    width: 100%;
    justify-content: space-between;
}

.comment-form #submitComment {
    border-radius: 3px;
    background: linear-gradient(to left, #1B5AFF, #709BFE);;
    height: 30px;
    font-size: 14px;
    margin: auto;
    color: white;
    font-weight: bold;
}

.comment-content {
    margin-left: 42px;
}

.vertical-line {
    float: left;
    width: 2px;
    height: 14px;
    background: #3C77FE;
}

.vertical-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.form-group {
    margin-bottom: 0;
}

.comment-list {
    padding: 13px 12px;
    background-color: #FFFFFF;
}

.list-text {
    margin-left: 4px;
    font-size: 16px;
}

.avatar img {
    border-radius: 3px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.avatar i {
    border-radius: 3px;
    margin-right: 10px;
    font-size: 40px;
}

.comment-ext {
    margin-left: -163px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.authorName {
    color: #333333;
    font-size: 14px;
}

.addedDate {
    color: #999999;
    font-size: 13px;
}

.reply-text {
    margin-top: -20px;
}

.reply-text a {
    color: #999999;
    font-size: 12px;
}

.replies {
    border-radius: 3px;
    margin: 8px 0 0 42px;
    background-color: #F0F0F0;
}

.reply-panel .replies{
    border-radius: 0;
    margin: 0;
    background-color: #F0F0F0;
}

.reply-panel {
    margin: 5px 0 5px 0;
    justify-content: space-between;
}

.reply-panel .text-primary {
    color: #333333;
    font-size: 12px;
}

.reply-panel .text-muted {
    color: #999999;
    font-size: 12px;
    margin-left: 5px;
}

.reply-panel a {
    color: #999999;
    font-size: 12px;
}

.reply-panel .reply-heading {
    margin: 0 12px 0 12px;
    justify-content: space-between;
}

.reply-panel .reply-body {
    color: #676767;
    font-size: 12px;
    margin-left: 12px;
}