#userList th, #userList td{overflow: hidden; white-space: nowrap;}
.panel-heading > a { display: inline-block; margin: -3px 3px; line-height: 26px;padding: 0 3px}
.panel-heading > a.active {font-weight: bold;}
