.panel-heading > a { display: inline-block; margin: -3px 3px; line-height: 26px;padding: 0 10px}
.panel-heading > a.active { border-radius: 13px; background-color: #3280FC;color: #fff}
.panel-heading > ul.pull-left{list-style-type:none; font-weight:normal;}
.panel-heading > ul.pull-left .dropdown-menu > li > a{display:table-cell;}
.panel-heading > ul.pull-left .dropdown-menu > li > a.pull-right{display:table-cell;}
